  .welcome {
    background: #fff;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: var(--padding-md) var(--padding-md);
    color: rgb(30, 41, 59);
    margin-bottom: 13px;

    h1 {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: var(--margin-xxs);
        @media screen and (max-width: 600px) {
            font-size: 1.2rem;
        }

        svg {
            font-size: 2rem;
            flex-shrink: 0;
            @media screen and (max-width: 600px) {
                font-size: 1.5rem;
            }
        }
    }
}

.Link{
  text-decoration: none;
}

.add {

  background: #fff;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: var(--padding-md) var(--padding-md);
  color: rgb(30, 41, 59);

  h1 {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: var(--margin-xxs);
      @media screen and (max-width: 600px) {
          font-size: 1.2rem;
      }

      svg {
          font-size: 2rem;
          flex-shrink: 0;
          @media screen and (max-width: 600px) {
              font-size: 1.5rem;
          }
      }
  }
}

.addAdminForm {


  .adminDetail {
      padding: 5px 15px 5px 15px;
      width: 500px;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      margin-right: 20px;

      .adminDetailLabel {
          margin-bottom: 10px;
          font-size: 14px;
          font-weight: 600;
          color: rgb(151, 150, 150);
        }

        .adminDetailInput {
          height: 40px;
          padding: 10px;
          border: 1px solid gray;
          border-radius: 5px;
        }
    }

  .addButton{
      width: 200px;
      border: none;
      background-color: darkblue;
      color: white;
      padding: 10px 10px;
      font-weight: 600;
      border-radius: 10px;
      margin: 30px 15px 10px;
      cursor: pointer;
  }
}

.reportTitle {
  font-size: 22px;
  font-weight: 600;
}

.reportTable{
  width: 100%;
  border-collapse: separate;
  border-spacing: 15px;
}

.reportTh{
  text-align: left;
}

.reportTd{
  font-weight: 400;
}

.listItem{
  font-weight: 400;
}

.listItemAction{
  display: flex;
  font-weight: 400;
}
  button{
    display: flex;
    margin-right: 6px;
    align-items: center;
    border-radius: 10px;
    padding: 7px 10px;
  }

  .buttonDelete {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    // display: inline-block;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    // vertical-align: middle;

    &:hover{
      background-color: initial;
      background-position: 0 0;
      color: #FF4742;
    }

    &:active{
      background-color: initial;
      background-position: 0 0;
      color: #FF4742;
      opacity: .5;
    }
  }

  .buttonEdit {
    background: #F8B400;
    border: 1px solid #F8B400;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    // display: inline-block;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    // vertical-align: middle;

    &:hover{
      background-color: initial;
      background-position: 0 0;
      color: #F8B400;
    }

    &:active{
      background-color: initial;
      background-position: 0 0;
      color: #F8B400;
      opacity: .5;
    }
  }


.listButton{
  display: flex;
  margin-right: 6px;
  align-items: center;
  border-radius: 10px;
  padding: 7px 10px;
}

.listIcon{
  font-size: 16px !important;
  margin-right: 5px;
}

.container {
  background: white;
  padding: 1rem;
  height: 100%;
  margin-bottom: auto;
  -webkit-box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.22);
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.22);
  padding-bottom: 3em;
}

.title {
  border-bottom: 1px solid rgb(216, 216, 216);

  h2 {
      font-weight: 500;
      font-size: 1.2rem;
      padding-top: 0.5rem;
      padding-bottom: 1rem;
      padding-left: 0.5rem;
  }
}

.activity_day {
  color: #94a3b8;
  font-weight: 500;
  font-size: 0.9rem;
  background: rgb(241, 241, 241);
  margin: 1rem 0;
  padding: 0.3rem 0;
  padding-left: 1rem;
}

.activities {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.activity {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  .icon {
      background: rgb(42, 170, 85);
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 550px) {
          width: 2rem;
          height: 2rem;
      }

      svg {
          color: white;
          font-size: 1.4rem;

          @media screen and (max-width: 550px) {
              font-size: 1.2rem;
          }
      }
  }

  .content {
      display: flex;
      flex: 1;
      justify-content: space-between;
      align-items: flex-end;
      gap: 0.5rem;
      font-size: 1rem;
      @media screen and (max-width: 550px) {
          font-size: 0.8rem;
      }

      .view {
          color: rgb(85, 79, 232);
          &:hover {
              text-decoration: underline;
              cursor: pointer;
          }

          &:hover svg {
              transform: translateX(2px);
          }

          span {
              display: flex;
              align-items: center;
              gap: 0.2rem;
          }

          svg {
              transition: all ease-in-out 200ms;
          }
      }
  }
}
